%table.table
  %tr
    %th From
    %th To
    %th Date
    - if current_user == user
      %th Review
  %tr
    - rides.each do |ride|
      %td= link_to ride.start_city, ride_path(ride)
      %td= ride.destination_city
      %td= ride.start_date.to_formatted_s(:short)
      - if current_user == user
        - if ride.driver.decorate.reviewable_by?(current_user)
          - if ride.driver.decorate.reviewed_by?(current_user)
            %td= link_to "Update review about this driver!", edit_user_review_path(user_id: ride.driver.id, id: Review.user_review_by(current_user, ride.driver).id)
          - else
            %td= link_to "Add review about this driver!", new_user_review_path(user_id: ride.driver.id)
        - else
          %td You cannot review this driver!
