= simple_form_for ride do |f|
  = f.input :start_city, placeholder: 'Ride form'
  = f.input :destination_city, placeholder: 'Ride to'
  = f.input :seats, placeholder: 'Ride places'
  = f.input :start_date, as: :date, order: [ :day, :month, :year]
  = f.button :submit
