.rides-title
  Ride
.rides-to
  To:
  = ride.to
.ride-from
  From:
  = ride.from
.ride-places
  Free places:
  = ride.free_rides_count
.ride-start-date
  Start date:
  = ride.start_date
.ride-driver
  Driver:
  = link_to ride.driver.email, user_path(ride.driver.id)
- if ride.author?(current_user)
  .ride-options
    = link_to 'Edit', edit_ride_path(ride.driver.id)
  .ride-options
    = link_to 'Delete', ride, method: :delete, data: { confirm: "You sure?" }
