!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'BlaBla Plus'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'BlaBla Plus'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %script{src: "http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"}
  %body
    %header
      = render 'layouts/navigation'
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          = link_to "BlaBla Plus", root_path, class: "navbar-brand"
        .navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            - if current_user
              %li.round-image-50= image_tag(current_user.avatar.url(:thumb))
              %li.dropdown
                %a.dropdown-toggle{'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
                  =current_user.name
                  %span.caret
                %ul.dropdown-menu
                  %li
                    = link_to 'Profile', current_user
                  %li
                    = link_to 'Settings', edit_user_path(current_user)
              %li
                = link_to 'Sign out', destroy_user_session_path, :method => :delete
            - else
              %li
                = link_to 'Sign in', new_user_session_path
              %li
                = link_to 'Register', new_user_registration_path
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield
